# Core VSLNet dependencies
numpy
torch
tqdm
nltk
Pillow
submitit
tensorboard
terminaltables
torchaudio
torchvision

# Added for Data Augmentation and LLMs
transformers
accelerate
bitsandbytes
sentencepiece

# Added for Data Handling and EDA
pandas
seaborn
matplotlib
